*{
    margin:0;
    font-family: 'Segoe UI';
}

a {
    text-decoration: none;
}

input[type="submit"]{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

body{
    background-color: rgb(226, 226, 226);
}

input, textarea, select{
    border-radius: 5px;
    border:1px rgb(185, 185, 185) solid ;
    background-color: rgb(247, 247, 247);
    outline: none;
}

select{
    padding: 5px;
}

/* ================== */
/* CONTAINER          */
/* ================== */

.container-mid{
    margin: 20px;
    padding: 20px;
    width: 400px;
    max-width: 400px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    border-radius: 25px;
    background-color: white;
    justify-self: center ;
    
}


/* ================== */
/* NAVBAR             */
/* ================== */

nav{
    background-color: rgb(41, 41, 41);
    padding:10px;
}

nav ul li {
    list-style-type: none;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

.nav-right{
    display: flex;
    gap: 30px;
}

.nav-mid{
    color: white;
}


/* ================== */
/* INDEX              */
/* ================== */

.hero{
    margin: 50px;
    
}

.filter form{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

}

.filter select {
    border-style:hidden;
    padding: 5px;
    border-radius: 7px;
    background-color: white;
}


/* CARD */
.todo{
    margin:20px;

}

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
    gap: 30px;
}

.card-pending{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 230px;
    height:200px;
    transition: ease-in 0.2s, all 0.2s;
}

.card-pending:hover{
    transform: scale(1.05);
}

.card-done{
    background-color: rgb(22, 22, 22);
    padding: 20px;
    color: white;
    border-radius: 10px;
    max-width: 230px;
    height:200px;
    transition: ease-in 0.2s, all 0.2s;
}

.card-done:hover{
    transform: scale(1.05);
}


.card-p{
    margin-top: 20px;
    margin-bottom: -20px;
}

.card-desc{
    max-height: 30px;
    overflow:auto;
}

.card-pending small{
    display: block; 
    margin-bottom: 7px;
    color: rgb(54, 54, 54);
}

.card-done small{
    display: block; 
    margin-bottom: 7px;
    color: rgb(172, 172, 172);
}

.card-footer{
    margin-top: 35px    ;
    display: flex;
    gap: 20px;
    position:relative;
}

.card-footer .btn-favorite {
    align-self: right;
}

.card-title{
    max-width: 200px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.card-title h3{
    margin-bottom: 5px;
}

/* ================== */
/* BUTTON             */
/* ================== */

.btn-success{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    border: none;
}

.btn-success a{
    color: white;
}

.btn-success:hover{
    background-color: rgb(7, 177, 7);
}

.btn-primary{
    background-color: rgb(25, 52, 206);
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    border: none;
}

.btn-primary a{
    color: white;
}

.btn-primary:hover{
    background-color: rgb(26, 64, 231);
}

.btn-danger{
    background-color: rgb(202, 25, 25);
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    border: none;
}

.btn-danger a{
    color: white;
}

.btn-danger:hover{
    background-color: rgb(211, 46, 46);
}

.btn-favorite{
    border: none;
    border-radius: 50%;
    width: fit-content;
    padding: 7px;
    background-color: rgb(202, 25, 25);
}

/* ============================ */
/* FORM      */
/* ============================ */



.form-title{
    margin-bottom: 10px;
}

.form-title h1{

    justify-self: center;
}

.form input{
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form input[type="text"], .form input[type="password"]{
    width: 395px;
    
}

.form input[type="email"]{
    width: 395px;
}

.form input[type="submit"]{
    padding: 10px;
}

.form select{
    width: 400px;
    background-color: rgb(233, 233, 233);
}

.form textarea{
    width: 395px;
}

label {
    font-weight:500;
}


